name: CI/CD Pipeline

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

permissions:
  contents: read
  id-token: write

jobs:
  build-test-deploy:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install httpx pytest

    - name: Run Unit Tests
      run: |
        pytest

    - name: Authenticate to Google Cloud
      uses: google-github-actions/auth@v2
      with:
        workload_identity_provider: 'projects/1025423900548/locations/global/workloadIdentityPools/github-pool-v2/providers/github-provider'
        service_account: 'github-deployer@project-acf12a19-9bf8-4ac9-8f8.iam.gserviceaccount.com'

    - name: Set up Cloud SDK
      uses: google-github-actions/setup-gcloud@v2

    - name: Configure Docker for GCP
      run: |
        gcloud auth configure-docker us-central1-docker.pkg.dev --quiet

    - name: Build and Push Docker Image
      run: |
        docker build -t us-central1-docker.pkg.dev/project-acf12a19-9bf8-4ac9-8f8/simple-api-repo/sumar-api:latest .
        docker push us-central1-docker.pkg.dev/project-acf12a19-9bf8-4ac9-8f8/simple-api-repo/sumar-api:latest

    - name: Deploy to Cloud Run
      run: |
        gcloud run deploy sumar-api \
          --image us-central1-docker.pkg.dev/project-acf12a19-9bf8-4ac9-8f8/simple-api-repo/sumar-api:latest \
          --region us-central1 \
          --platform managed \
          --allow-unauthenticated